In [ ]:
# Q1 (i) = string variable

In [4]:
quantity = 5
itemno = 25
price = 50.64
myorder = "I want {} pieces of item {} for {} rupees. "
print(myorder. format(quantity, itemno, price))

I want 5 pieces of item 25 for 50.64 rupees.

In [ ]:
# Q1 (ii) = list variable

In [2]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["car", "aeroplane", "submarine"]
list5 = ["a+7j" , "b+5j" , "c+2j"]

print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['car', 'aeroplane', 'submarine']
['a+7j', 'b+5j', 'c+2j']

In [ ]:
# Q1(iii) = float variable

In [1]:
a = 10.23
b = 20
c = 40.30
d = 52.21
e = 99.99
print(a + b + c + d + e)

222.73000000000002

In [ ]:
# Q1(iv) = tuple

In [1]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
# Q2

# var1 = string
# var2 = string
# var3 = list
# var4 = integer

In [1]:
# Q3
	
# (i) /	Division	x / y	

x = 10
y = 2
print(x/y)

5.0

In [2]:
# (%)	Modulus	x % y	
x = 10
y = 100
print(x%y)

10

In [5]:
# (**)	Exponentiation	x ** y	
x = 10
y = 2
print(x**y)

100

In [ ]:
# (//)	Floor division	x // y

In [8]:
x = 10
y = 2
print(x//y)

5

In [48]:
# Q4 
name = ["elementary"]

score = 99.99

lessons =  ["math", "geo", "sanskrit"]

person = {
    "firstName": "koyel",
    "lastName": "Das",
    "age": 28}

langs = ("eng", "hindi", "odia")

basics = {"algebra", "tense", "mean"}

dic1  = {1:10, 2:20}

school = { "st Marys" }

std = 7

attendance = {"99 percent"}


print("The variable, name is of type:", type(name))
print("The variable, score is of type:", type(score))
print("The variable, lessons is of type:", type(lessons))
print("The variable, person is of type:", type(person))
print("The variable, langs is of type:", type(langs))
print("The variable, basics is of type:", type(basics))
print("The variable, basics is of type:", type(dic1))
print("The variable, basics is of type:", type(school))
print("The variable, basics is of type:", type(std))
print("The variable, basics is of type:", type(attendance))


for i in name:
    print(i)
for i in lessons:
    print(i)    

for i in langs:
    print(i)    
for i in basics:
    print(i)  
for i in dic1:
    print(i)

The variable, name is of type: <class 'list'>
The variable, score is of type: <class 'float'>
The variable, lessons is of type: <class 'list'>
The variable, person is of type: <class 'dict'>
The variable, langs is of type: <class 'tuple'>
The variable, basics is of type: <class 'set'>
The variable, basics is of type: <class 'dict'>
The variable, basics is of type: <class 'set'>
The variable, basics is of type: <class 'int'>
The variable, basics is of type: <class 'set'>
elementary
math
geo
sanskrit
eng
hindi
odia
tense
algebra
mean
1
2

In [1]:
# Q5
def divisible_count(a, b):
    count = 0
    while a % b == 0:
        count += 1
        a /= b
    return count

# Example usage
number_a = 60
number_b = 3

result = divisible_count(number_a, number_b)
if result > 0:
    print(f"{number_a} is divisible by {number_b} and can be divided {result} times.")
else:
    print(f"{number_a} is not divisible by {number_b}.")

60 is divisible by 3 and can be divided 1 times.

In [2]:
# Q6

# Create a list of 25 integers
numbers = [7, 12, 5, 36, 42, 9, 17, 20, 15, 21, 8, 33, 28, 11, 16, 27, 30, 14, 18, 25, 6, 23, 10, 39, 4]

# Iterate over the list using a for loop
for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

7 is not divisible by 3.
12 is divisible by 3.
5 is not divisible by 3.
36 is divisible by 3.
42 is divisible by 3.
9 is divisible by 3.
17 is not divisible by 3.
20 is not divisible by 3.
15 is divisible by 3.
21 is divisible by 3.
8 is not divisible by 3.
33 is divisible by 3.
28 is not divisible by 3.
11 is not divisible by 3.
16 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
14 is not divisible by 3.
18 is divisible by 3.
25 is not divisible by 3.
6 is divisible by 3.
23 is not divisible by 3.
10 is not divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.

In [3]:
# Q7
# Mutable Data Types:
# Mutable data types are those whose values can be changed after they are created. 
# In other words, you can modify the data in-place without creating a new object. 
# Some examples of mutable data types in Python include lists, dictionaries, and sets.

# Example of a mutable data type (list)
my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

my_list[0] = 10
print(my_list)  # Output: [10, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]
[10, 2, 3, 4]

In [4]:
# Q7 
# Immutable Data Types:
# Immutable data types, on the other hand, are those whose values cannot be changed once they are created. 
# If you want to modify the data, you need to create a new object. 
# Some examples of immutable data types in Python include integers, floats, strings, and tuples.


# Example of an immutable data type (string)
my_string = "Hello"
print(my_string)  # Output: Hello

my_string += " World"
print(my_string)  # Output: Hello World

# Example of an immutable data type (tuple)
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

# Trying to modify the tuple will raise an error
my_tuple[0] = 10  # Raises TypeError: 'tuple' object does not support item assignment

Hello
Hello World
(1, 2, 3)

TypeError: 'tuple' object does not support item assignment